/* Background color for the solutions when they are opened */
#SampleSoln, #SampleSoln0, #SampleSoln1, #SampleSoln1-py, #SampleSoln1-cpp, #SampleSoln2, #SampleSoln3 {
    background: #f5f5f5;
    border: 1px solid #c0c0c0;
    padding: 15px;
}

/* Adding a darker border to the sections with colored sides */
.bs-callout {
    background: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

<style type="text/css">
  @media print {
    .bg-warning {
      background-color: #ffc107 !important;
    }

  }
</style>
